*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

/* nav */

nav{
    position: fixed;

    height: 85px;
    width: 100%;



    background-color: green;
    border: 2px dashed black;
}

nav .container-nav{
    display: flex;
    justify-content: space-between;

    height: 100%;

    justify-content: space-between;
}

nav .container-nav .nav-box{
    display: flex;
    justify-content: center;

    height: 100%;
}

nav .container-nav .nav-box .nav-img{
    width: 150px;

    background-color: blue;
    border: 2px dashed black;
}

nav .container-nav .nav-box .link-nav{
    width: 100px;

    background-color: blue;
    border: 2px dashed black;
}

nav .container-nav .nav-box .btn-nav{
    width: 100px;

    background-color: blue;
    border: 2px dashed black;
}